<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add  name="cn" connectionString="Data Source=DESKTOP-RR0J04S;Initial Catalog=Report;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    
  </connectionStrings>
</configuration>